.array-container {
    position: absolute;
    top: 50px;
    width: 1262px; 
    margin: 1px 1px;
    padding: 10px 1px;
}

.array-bar {
    position: relative;
    width: 2px;
    background-color: pink;
    display: inline-block;
    position: relative;
    left: 10px;
    margin: 0 1px;
}

.array-bar:hover {
    background-color: #da3535;
}

.buttons-bar {
    position: absolute;
    width: 1250px;
    top: 420px;
    border-radius: 10px;
    border: 2px solid black;; 
    margin-top: 0px;
    margin-bottom: 20px;
    padding: 8px 4px;
    background-color: rgb(212, 100, 100);
    left: 10px;
    box-shadow: 1px 1px 5px 0px rgba(0,0,0,0.75);
}

/* .buttons-place {
    border-radius: 50%;
    position: relative;
    top: 2px;
} */

button {
    background-color: rgb(82, 135, 209);
    bottom: 10px;
    border: 1px solid black;
    border-radius: 4px;
    padding: 10px 10px;
    margin: 0 15px;
    color:aqua;
    box-shadow: 1px 1px 5px 0px rgba(0,0,0,0.75);
}

button:hover {
    color: rgb(255, 255, 255);
    box-shadow: none;
}

.top-bar {
    position: absolute;
    top: 480px;
    left: 10px;
    height: 40px;
    width: 1250px;
    border-radius: 10px;
    border: 2px solid black;
    background-color: rgb(212, 100, 100);
    padding: 8px 4px;
    box-shadow: 1px 1px 5px 0px rgba(0,0,0,0.75);
}

.speed-slider {
    position: absolute;
    left: 50px;
    top: 5px;
    bottom: 5px;
    margin: 1px 1px;
    width: 150px;
    background-color: rgb(82, 135, 209);
    border-radius: 10px;
    box-shadow: 1px 1px 5px 0px rgba(0,0,0,0.75);
}

.speed-slider:hover {
    background-color: rgb(19, 88, 185);
}

.array-slider {
    position: absolute;
    left: 250px;
    top: 5px;
    bottom: 5px;
    margin: 1px 1px;
    width: 150px;
    background-color: rgb(82, 135, 209);
    border-radius: 10px;
    box-shadow: 1px 1px 5px 0px rgba(0,0,0,0.75);
}

.array-slider:hover {
    background-color: rgb(19, 88, 185);
}

.display {
    position: relative;
    background-color: rgb(82, 135, 209);
    left: 1040px;
    width: 150px;
    border-radius: 5px;
    padding: 1px 1px;
    box-shadow: 1px 1px 5px 0px rgba(0,0,0,0.75);
    margin: 5px 5px;
    top: -9px;
}