body {
    background: hotpink;
}

.array-container {
    position: relative;
    top: 50px;
    width: 1262px; 
    margin: 1px 1px;
    padding: 10px 1px;
    align-items: center;
    justify-content: center;
    display: flex;
    flex-direction: column;
}

.arrays {
    height: 400px;
    margin: 2px;
    width: 92%;
    align-items: center;
    justify-content: center;
    display: flex;
}

.array-bar {
    width: 2px;
    background-color: #fff;
    display: inline-block;
    position: relative;
    left: 10px;
    margin: 0 1px;
}

.buttons-bar {
    width: 90%;
    height: 50px;
    align-items: center;
    display: flex;
    justify-content: center;
    background-color: #111;
    box-shadow: 1px 1px 5px 0px rgba(0,0,0,0.75);
    border-radius: 40px;
}

.bars {
    align-items: center;
    justify-content: center;
    display: flex;
    flex-wrap: wrap;
}

/* .buttons-place {
    border-radius: 50%;
    position: relative;
    top: 2px;
} */

button {
    background-color: rgb(82, 135, 209);
    bottom: 10px;
    border: 1px solid black;
    border-radius: 4px;
    padding: 10px 10px;
    margin: 0 15px;
    color:aqua;
    box-shadow: 1px 1px 5px 0px rgba(0,0,0,0.75);
}

button:hover {
    color: rgb(255, 255, 255);
    box-shadow: none;
}

.top-bar {
    width: 90%;
    margin: 5px;
    height: 50px;
    top: 470px;
    align-items: center;
    justify-content: center;
    display: flex;
    background: black;
    padding: 8px 4px;
    box-shadow: 1px 1px 5px 0px rgba(0,0,0,0.75);
    border-radius: 40px;
}

.speed-slider {
    left: 50px;
    top: 5px;
    bottom: 5px;
    margin: 1px 1px;
    width: 150px;
    background-color: rgb(82, 135, 209);
    border-radius: 10px;
    margin: 10px;
    box-shadow: 1px 1px 5px 0px rgba(0,0,0,0.75);
}

.speed-slider:hover {
    background-color: rgb(19, 88, 185);
}

.array-slider {
    left: 250px;
    top: 5px;
    bottom: 5px;
    margin: 10px;
    width: 150px;
    background-color: rgb(82, 135, 209);
    border-radius: 10px;
    box-shadow: 1px 1px 5px 0px rgba(0,0,0,0.75);
}

.array-slider:hover {
    background-color: rgb(19, 88, 185);
}

.display {
    background-color: rgb(82, 135, 209);
    box-shadow: 1px 1px 5px 0px rgba(0,0,0,0.75);
    padding: 1px 1px;
    margin: 5px 5px;
    width: 15%;
    border-radius: 10px;
    display: inline-flexbox;
    left: 50%;
}