body {
    background: #f5f5f5;
    font-family: 'Arial', sans-serif;
    color: #333;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.array-container {
    position: relative;
    /* width: 100%;  */
    padding: 20px;
    align-items: center;
    justify-content: center;
    display: flex;
    flex-direction: column;
    background-color: #000000;
    box-shadow: 0 4px 8px rgba(0,0,0,0.1);
    border-radius: 10px;
}

.arrays {
    height: 400px;
    width: 100%;
    align-items: center;
    justify-content: center;
    display: flex;
    margin-bottom: 20px;
}

.array-bar {
    background-color: #ffffff;
    display: inline-block;
    margin: 0 1px;
}

.bars {
    width: 100%;
    align-items: center;
    justify-content: space-between;
    display: flex;
    flex-wrap: wrap;
}

.buttons-bar {
    width: 100%;
    align-items: center;
    justify-content: center;
    display: flex;
    margin: 20px;

}
/* 
.top-bar {
    width: 100%;
    margin-bottom: 10px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px;
    background: #007bff;
    color: #fff;
    border-radius: 10px;
} */

button {
    background-color: #007bff;
    border: none;
    border-radius: 5px;
    padding: 10px 15px;
    margin: 5px;
    color: #fff;
    cursor: pointer;
    transition: background-color 0.3s ease, box-shadow 0.3s ease;
    font-size: 14px;
}

button:hover {
    background-color: #0056b3;
    box-shadow: 0 4px 8px rgba(0,0,0,0.1);
}
/* 
.speed-slider, .array-slider {
    width: 150px;
    padding: 5px;
    background-color: #000000;
    border-radius: 5px;
    margin: 5px;
    box-shadow: 0 2px 4px rgba(0,0,0,0.1);
    color: #fff;
} */

/* .speed-slider:hover, .array-slider:hover {
    background-color: #0056b3;
} */

.display {
    background-color: #000000;
    padding: 10px;
    margin: 5px;
    border-radius: 5px;
    color: #fff;
    text-align: center;
    min-width: 100px;
}
