/* import poppins */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap');

* {
    font-family: 'Poppins', sans-serif;
}

.controls {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.buttons-bar {
    width: 100%;
    display: flex;
    justify-content: center;
    margin-bottom: 10px;
}

button {
    background-color: #007bff;
    border: none;
    border-radius: 5px;
    padding: 10px 10px;
    margin: 5px;
    color: #fff;
    cursor: pointer;
    transition: background-color 0.3s ease, box-shadow 0.3s ease;
    font-size: 14px;
}

button:hover {
    background-color: #c10000;
    box-shadow: 0 4px 8px rgba(0,0,0,0.1);
}

.top-bar {
    width: 100%;
    display: flex;
    justify-content: space-around;
    padding: 10px;
    background: #007bff;
    color: #fff;
    border-radius: 10px;
    margin-bottom: 10px;
}

.speed-slider, .array-slider {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: #000000;
    padding: 5px;
    border-radius: 5px;
    margin: 5px;
    box-shadow: 0 2px 4px rgba(0,0,0,0.1);
}

.display {
    background-color: #000000;
    padding: 10px;
    margin: 5px;
    border-radius: 5px;
    color: #fff;
    text-align: center;
    min-width: 100px;
}
